.colors {
  background-image: linear-gradient(to bottom right, #700000, #2F4858);
  height: 450px;
}

.flex-container {
  margin: 60px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: #E7E7E7;
  border-radius: 15px;
  }

.flex-container div {
  margin: 10px; 
}

  .flex-item-picture img {
    border-radius: 15px;
  }

  .flex-item-paragraph {
    flex-grow: 8;
    color: black;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
  }


  @media all and (max-width: 800px) {

    .flex-container {
      margin: 60px;
      height: 450px;
      display: flex;
      flex-direction: column;
      padding: 0px;
      background-color: #E7E7E7;
      border-radius: 15px;
    }

    .flex-item-picture img {
      border-radius: 15px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      }
    
      .flex-item-paragraph {
        color: black;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
      }

  }