.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: right;
    display: block;
    color: #E7E7E7;
    text-align: center;
    padding: 14px 12px;
    margin-right: 10px;
    text-decoration: none;
  }

  .navbar p {
    float: left;
    display: block;
    color: #E7E7E7;
    text-align: center;
    text-decoration: none;
    margin-left: 12px;
    height: 8px;
  }
  
  .navbar a:hover {
    background: #ddd;
    transition: .5s ease;
    color: black;
  }